google-play-scraper==1.2.4
huggingface-hub==0.20.2
numpy==1.25.2
pandas==2.1.4
pytz==2023.3.post1
PyYAML==6.0.1
regex==2023.12.25
requests==2.31.0
safetensors==0.4.1
tokenizers==0.15.0
torch==2.1.2
transformers==4.36.2